.button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid palevioletred;
  color: palevioletred;
  margin: 0 1em;
  padding: 0.25rem 1em;
  font-size: 20px;
}

.button:hover {
  background: palevioletred;
  color: white;
  transition: .4s;
}

.loading {
  border: 2px solid grey;
  color:grey;
}